

#start-btn
{
    width: 40%;
} 
#camera
{
    width:660px;
    height: 550px;
    border:1px solid yellow;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    background:linear-gradient(red 10%, orange 25%, yellow 50%, orange 75%, red 100%);
    font-family: 'Yeon Sung', cursive;
}